body{
  background: linear-gradient(.25turn, red, 50%, blue);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.todolist{
  font-family:'Times New Roman';
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 3rem;
  color: #aee1ff;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: #aee1ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Add-button{
  background-color: rgba(25, 30, 52, 0.945);
}

.Add-button:hover{
  background-color: rgba(14, 16, 28, 0.945);
}

.delete-button{
  background-color: red;
  color: rgb(226, 222, 222);
}

.delete-button:hover{
  background-color: rgb(206, 1, 1);
}

.move-up{
  background-color: rgba(228, 48, 228, 0.945);
}

.move-up:hover{
  background-color: rgba(196, 39, 196, 0.945);
}

.move-down{
  background-color: rgba(45, 123, 154, 0.945);
}

.move-down:hover{
  background-color: rgba(36, 98, 123, 0.945);
}

input[type="text"],
input[type="time"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  height: 50px;
  box-sizing: border-box;
}

ol{
  text-align: center;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #aee1ff;
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  background: #2a5298;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text{
  margin-right: 15px;
  flex: 0 10 200px;
}

.completed{
  text-decoration: line-through;
  transition: all 0.2s;
}

.task-text{
  margin-right: 15px;
  flex: 0 10 200px;
}

.task-text:hover{
  cursor: pointer;
}

.checkmark{
  color: lightgreen;
  margin-left: 10px;
}

.delete-button, .move-down, .move-up{
  padding: 8px 16px;
  font-size: 1.4rem;
  margin-right: 10px;
}

.task-number{
  margin-right: 15px;
  width: 30px;
  text-align: right;
}

.task-time{
  margin-right: 15px;
}
